/* Estilo da página */
.pet-profile-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: white;
}

.welcome-section {
  text-align: center;
  padding: 2rem 0;
}

.welcome-title {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

/* Container principal */
.pet-profile-container {
  background-color: #EBE4F4;
  width: 50%;
  min-height: 350px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 40px;
}

/* Card do pet */
.pet-card {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  min-height: 150px;
}

/* Foto do pet */
.pet-photo-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #8E44AD;
  flex-shrink: 0;
}

.pet-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Informações do pet */
.pet-info {
  flex: 1;
}

.owner-name {
  font-size: 2rem;
  color: #555;
  margin-bottom: 10px;
}

.pet-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pet-name {
  font-size: 2rem;
  color: #2c3e50;
  margin: 0;
}

.pet-gender {
  background-color: #3498db;
  color: white;
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 0.9rem;

}

/* Botão de detalhes */
.details-button {
  background: none;
  border: none;
  color: #C79DFD;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: absolute;
  right: 25px;
  text-decoration: none;
}


.details-button:hover {
  background-color: #f3e5f5;
}

.arrow {
  font-size: 1.2rem;
}

/* Botão Adicionar Pet */
.add-pet-button {
  background-color: #8D7EFB;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
  margin-top: auto;
  display: inline-block;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  text-align: center;
}

.add-pet-button:hover {
  background-color: #B77EFF;
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(142, 68, 173, 0.3);
}